<div class="jumbtron">
    <h1 class="display-4 text-center">Creditos</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Crédito
            </h6>
            <app-cuentas-credito></app-cuentas-credito>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado de Créditos
            </h6>
            <app-lista-creditos></app-lista-creditos>
        </div>
    </div>
</div>
