<div class="container">
    <div class="row align-items-center">
        <div class="cont-img-login rounded col-md-8">
            <div>
                <!--<img class="rounded" src="/assets/images/login-images/login.png" alt="imagen login" />-->

                <div class="form-container">
                    <div class="d-flex justify-content-center mt-3">
                        <div>
                            
                                <div class="form-group mt-5">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">¿Cuánto dinero querés girar al descubierto?</label>
                                        <input [(ngModel)]="montoGiro" type="number" class="form-control" id="formGroupExampleInput" placeholder="">
                                        <br>
                                        <!--<label for="formGroupExampleInput2">Para:</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""><br>
                                        <label for="formGroupExampleInput2">Fecha de ejecución</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="26/01/21"><br>
                                        <label for="formGroupExampleInput2">Plazo de acreditación</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="En el acto"><br>
                                        <label for="formGroupExampleInput2">Concepto</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Varios"><br>-->
                                    </div>                                    

                                    <button (click)="girar()" type="button" class="btn btn-primary">Girar al Descubierto</button><br><br>
                                    <div #alert class="alert alert-danger" role="alert" id="alert" style="display: none;">
                                        Ha superado su límite permitido para giro al descubierto
                                    </div>
                                    <div #saldoNegativo class="alert alert-danger" role="alert" id="saldoNegativo" style="display: none;">
                                        Su saldo es negativo. No puede solicitar giro al descubierto
                                    </div>
                                    <div #alert2 class="alert alert-warning" role="alert" id="alert2" style="display: none;">
                                        Posee saldo suficiente. Utilice la opción Extracción
                                    </div>
                                    <div #success class="alert alert-success" role="alert" id="success" style="display: none;">
                                        Se realizó el giro al descubierto
                                    </div>
                                    
                                </div>
                            
                            <div class="card col-12 mr-1">
                                <div class="card-body">
                                    <h4 class="card-title text-center mt-1">$ {{cuenta.Saldo}}</h4>
                                    <p class="card-text text-center">Dinero disponible en caja de ahorro en pesos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- amarillo #f0bf55 - gris: #f2f2f2 -  celeste #198bd2 - gris borde: 	#dbdbdb-->