<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" value="juanperez@gmail.com">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="*******">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Bv San Juan 350">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Dirección laboral</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Derqui 33">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ciudad</label>
        <input type="text" class="form-control" id="Córdoba">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Provincia</label>
        <select id="inputState" class="form-control">
          <option selected>Seleccionar</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">CP</label>
        <input type="text" class="form-control" value="5000">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
