<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Ingresar Dinero</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
    </div>
    <button type="button" class="btn btn-primary">Depositar</button>
    <div class="form-group">
      <label for="formGroupExampleInput2">Retirar Dinero</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
    </div>
    <button type="button" class="btn btn-primary">Extraer</button>
  </form>
  <div class="card col-4 mr-1">
    <div class="card-body">
        <h5 class="card-title">$100.00</h5>
        <p class="card-text">Caja de Ahorro en pesos Argentinos</p>
    </div>
</div>
